In [2]:
import pandas as pd
import sqlite3

In [3]:
# Conexión a la base de datos y creacion implicta de la mmisma si no existiera previamente
conexion = sqlite3.connect("C:/Users/Usuario/Desktop/REPOS/TeamChallenger6/Base de Datos/Tejidos.db")
cursor = conexion.cursor()

In [5]:
# Creamos la tabla Proveedor
query = '''
CREATE TABLE Proveedor (
    ID_Proveedor INTEGER PRIMARY KEY,
    Nombre TEXT,
    Direccion TEXT,
    Ciudad TEXT,
    Provincia TEXT
)
'''
cursor.execute(query)

In [ ]:
#** MARIA: NO LO HE EJECUTADO AÚN A FALTA DE VERLO JUNTOS

# Rellenamos con 20 datos la tabla Proveedor

# Datos  de proveedores de tejidos
datos_proveedor_tejidos = [
    (1, 'Tejidos Hermanos López', 'Calle Mayor 123', 'Madrid', 'Madrid'),
    (2, 'Textil Martínez', 'Avenida Libertad 456', 'Barcelona', 'Barcelona'),
    (3, 'Telas y Más', 'Calle Gran Vía 789', 'Valencia', 'Valencia'),
    (4, 'Tejidos Sánchez e Hijos', 'Calle San Juan 101', 'Sevilla', 'Sevilla'),
    (5, 'Textiles del Sur', 'Calle Mayor 555', 'Málaga', 'Málaga'),
    (6, 'Tejidos Gómez', 'Avenida de la Playa 777', 'Alicante', 'Alicante'),
    (7, 'Telas Modernas', 'Calle Comercial 888', 'Zaragoza', 'Zaragoza'),
    (8, 'Tejidos Hermanos Pérez', 'Calle Mayor 999', 'Murcia', 'Murcia'),
    (9, 'Textiles del Norte', 'Calle Bilbao 333', 'Bilbao', 'Vizcaya'),
    (10, 'Tejidos del Centro', 'Plaza Mayor 222', 'Valladolid', 'Valladolid'),
    (11, 'Telas Especiales', 'Avenida de la Moda 111', 'Granada', 'Granada'),
    (12, 'Tejidos Rodríguez', 'Calle Principal 444', 'Córdoba', 'Córdoba'),
    (13, 'Textiles Andaluces', 'Calle del Sol 666', 'Cádiz', 'Cádiz'),
    (14, 'Tejidos del Este', 'Avenida del Mar 777', 'Almería', 'Almería'),
    (15, 'Telas Elegantes', 'Calle Elegancia 888', 'Toledo', 'Toledo'),
    (16, 'Tejidos Rápidos', 'Avenida Velocidad 999', 'Guadalajara', 'Guadalajara'),
    (17, 'Textiles del Oeste', 'Calle del Oeste 333', 'Salamanca', 'Salamanca'),
    (18, 'Tejidos Modernos', 'Avenida de la Moda 111', 'Segovia', 'Segovia'),
    (19, 'Telas Innovadoras', 'Calle de la Innovación 444', 'Ávila', 'Ávila'),
    (20, 'Tejidos Creativos', 'Calle Creativa 777', 'Cuenca', 'Cuenca'),
]

# Insertar datos en la tabla Proveedor
insert_query_tejidos = "INSERT INTO Proveedor (ID_Proveedor, Nombre, Direccion, Ciudad, Provincia) VALUES (?, ?, ?, ?, ?)"

# Ejecutar la sentencia SQL para insertar los datos en la tabla
cursor.executemany(insert_query_tejidos, datos_proveedor_tejidos)

# Confirmar la transacción
connection.commit()

In [8]:
# Creamos la tabla Categoria
query = '''
CREATE TABLE Categoria (
    ID_Categoria INTEGER PRIMARY KEY,
    Nombre TEXT)
'''
cursor.execute(query)

In [ ]:
#** MARIA: NO LO HE EJECUTADO AÚN A FALTA DE VERLO JUNTOS

# Datos de 20 categorías de tejidos
datos_categoria_tejidos = [
    (1, 'Algodón'),
    (2, 'Lino'),
    (3, 'Seda'),
    (4, 'Lana'),
    (5, 'Poliéster'),
    (6, 'Viscosa'),
    (7, 'Rayón'),
    (8, 'Nylon'),
    (9, 'Spandex'),
    (10, 'Fibra sintética'),
]

# Insertar datos en la tabla Categoria
insert_query_categorias = "INSERT INTO Categoria (ID_Categoria, Nombre) VALUES (?, ?)"

# Ejecutar la sentencia SQL para insertar los datos en la tabla
cursor.executemany(insert_query_categorias, datos_categoria_tejidos)

# Confirmar la transacción
connection.commit()

In [10]:
# Creamos la tabla Producto
query = '''
CREATE TABLE Producto (
    ID_Producto INTEGER PRIMARY KEY,
    Nombre TEXT,
    Color TEXT,
    Precio REAL,
    ID_Categoria INTEGER,
    FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)
)
'''
cursor.execute(query)

In [ ]:
#** MARIA: NO LO HE EJECUTADO AÚN A FALTA DE VERLO JUNTOS

# Lista de 20 productos
nombres_productos = ["Algodón Suave", "Lana Gruesa", "Seda Brillante", "Poliéster Resistente", "Lino Natural",
                     "Terciopelo Elegante", "Mohair Exclusivo", "Cashmere Premium", "Chenilla Suave", "Denim Resistente",
                     "Satén Brillante", "Tweed Clásico", "Felpa Cálida", "Jacquard Intrincado", "Brocado Elegante",
                     "Tafetán Brillante", "Cuero Genuino", "Franela Cómoda", "Vellón Suave", "Lycra Elástica"]

# Lista de colores 
colores = ["Blanco", "Gris", "Azul", "Negro", "Beige", "Rojo", "Marrón", "Verde", "Dorado", "Rosa", "Morado", "Plateado"]

# Generar 20 valores  para la tabla Producto
valores_productos = []
for _ in range(20):
    nombre = random.choice(nombres_productos)
    color = random.choice(colores)
    precio = round(random.uniform(8.0, 40.0), 2)
    id_categoria = random.randint(1, 3)
    valores_productos.append((nombre, color, precio, id_categoria))

# Imprimir los valores generados
for idx, valor in enumerate(valores_productos, start=1):
    print(f"{idx}. Nombre: {valor[0]}, Color: {valor[1]}, Precio: {valor[2]}, ID_Categoria: {valor[3]}")

In [11]:
# Creamos la tabla Pedido
query = '''
CREATE TABLE Pedido (
    ID_Pedido INTEGER PRIMARY KEY,
    Fecha_pedido DATE,
    Fecha_entrega DATE,
    ID_Proveedor INTEGER,
    FOREIGN KEY (ID_Proveedor) REFERENCES Proveedor(ID_Proveedor)
    )
'''
cursor.execute(query)

In [ ]:
# MARIA POR REVISAR QUE PROVEEDOR SEA DE LA LISTA PROVEEDOR

import random
import datetime

# Generar 20 valores 
valores_pedidos = []
for _ in range(20):
    fecha_pedido = datetime.datetime.now().strftime('%Y-%m-%d')
    fecha_entrega = (datetime.datetime.now() + datetime.timedelta(days=random.randint(1, 30))).strftime('%Y-%m-%d')
    id_proveedor = random.randint(1, 20)
    valores_pedidos.append((fecha_pedido, fecha_entrega, id_proveedor))

# Imprimir los valores generados
for idx, valor in enumerate(valores_pedidos, start=1):
    print(f"{idx}. Fecha Pedido: {valor[0]}, Fecha Entrega: {valor[1]}, ID_Proveedor: {valor[2]}")

In [12]:
# Creamos la tabla LineaCesta
query = '''
CREATE TABLE LineaCesta (
    ID_LineaCesta INTEGER PRIMARY KEY,
    Cantidad INTEGER,
    Fecha_pedido DATE,
    Fecha_entrega DATE,
    ID_Producto INTEGER,
    ID_Pedido INTEGER,
    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)
    FOREIGN KEY (ID_Pedido) REFERENCES Pedido(ID_Pedido)
    )
'''
cursor.execute(query)

In [ ]:
#MARIA POR REVISAR
# Crear una lista de tuplas de valores para la tabla LineaCesta
valores_linea_cesta = [(i, random.randint(1, 10), "2024-03-11", "2024-03-18", random.randint(1, 20), random.randint(1, 20)) for i in range(21)]

# Insertar valores en la tabla LineaCesta
query_insert_linea_cesta = '''
INSERT INTO LineaCesta (ID_LineaCesta, Cantidad, Fecha_pedido, Fecha_entrega, ID_Producto, ID_Pedido)
VALUES (?, ?, ?, ?, ?, ?)
'''

# Iterar sobre los valores de la lista y ejecutar la consulta de inserción
for valor in valores_linea_cesta:
    cursor.execute(query_insert_linea_cesta, valor)

# Confirmar la transacción
conexion.commit()

print("Se han insertado los valores en la tabla LineaCesta.")

In [16]:
# Creamos la tabla Catalogo
query = '''
CREATE TABLE Catalogo (
    ID_Producto INTEGER,
    ID_Proveedor INTEGER,
    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)
    FOREIGN KEY (ID_Proveedor) REFERENCES Pedido(ID_Proveedor)
    CONSTRAINT ID_Catalogo PRIMARY KEY (ID_Producto, ID_Proveedor)   
    )
'''
cursor.execute(query)

In [ ]:
# MARIA POR REVISAR 



valores_catalogo = [
    (1, 20),
    (2, 1),
    (3, 2),
    (4, 3),
    (5, 4),
    (6, 5),
    (7, 6),
    (8, 7),
    (9, 8),
    (10, 9),
    (11, 10),
    (12, 11),
    (13, 12),
    (14, 13),
    (15, 14),
    (16, 15),
    (17, 16),
    (18, 17),
    (19, 18),
    (20, 19)
]

# Insertar valores en la tabla Catalogo
query_insert = '''
INSERT INTO Catalogo (ID_Producto, ID_Proveedor)
VALUES (?, ?)
'''

# Iterar sobre los valores de la lista y ejecutar la consulta de inserción
for valor in valores_catalogo:
    cursor.execute(query_insert, valor)

# Confirmar la transacción
conexion.commit()

print("Se han insertado los valores en la tabla Catalogo.")

In [17]:
query = '''
SELECT * 
FROM sqlite_master
'''
res = cursor.execute(query)
res.fetchall()

[('table',
  'Proveedor',
  'Proveedor',
  2,
  'CREATE TABLE Proveedor (\n    ID_Proveedor INTEGER PRIMARY KEY,\n    Nombre TEXT,\n    Direccion TEXT,\n    Ciudad TEXT,\n    Provincia TEXT\n)'),
 ('table',
  'Categoria',
  'Categoria',
  3,
  'CREATE TABLE Categoria (\n    ID_Categoria INTEGER PRIMARY KEY,\n    Nombre TEXT)'),
 ('table',
  'Producto',
  'Producto',
  4,
  'CREATE TABLE Producto (\n    ID_Producto INTEGER PRIMARY KEY,\n    Nombre TEXT,\n    Color TEXT,\n    Precio REAL,\n    ID_Categoria INTEGER,\n    FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)\n)'),
 ('table',
  'Pedido',
  'Pedido',
  5,
  'CREATE TABLE Pedido (\n    ID_Pedido INTEGER PRIMARY KEY,\n    Fecha_pedido DATE,\n    Fecha_entrega DATE,\n    ID_Proveedor INTEGER,\n    FOREIGN KEY (ID_Proveedor) REFERENCES Proveedor(ID_Proveedor)\n    )'),
 ('table',
  'LineaCesta',
  'LineaCesta',
  6,
  'CREATE TABLE LineaCesta (\n    ID_LineaCesta INTEGER PRIMARY KEY,\n    Cantidad INTEGER,\n    Fecha_pedido DATE,\n    Fecha_entrega DATE,\n    ID_Producto INTEGER,\n    ID_Pedido INTEGER,\n    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)\n    FOREIGN KEY (ID_Pedido) REFERENCES Pedido(ID_Pedido)\n    )'),
 ('table',
  'Catalogo',
  'Catalogo',
  7,
  'CREATE TABLE Catalogo (\n    ID_Producto INTEGER,\n    ID_Proveedor INTEGER,\n    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)\n    FOREIGN KEY (ID_Proveedor) REFERENCES Pedido(ID_Proveedor)\n    CONSTRAINT ID_Catalogo PRIMARY KEY (ID_Producto, ID_Proveedor)   \n    )'),
 ('index', 'sqlite_autoindex_Catalogo_1', 'Catalogo', 8, None)]