In [2]:
import pandas as pd
import sqlite3

In [3]:
# Conexi√≥n a la base de datos y creacion implicta de la mmisma si no existiera previamente
conexion = sqlite3.connect("C:/Users/Usuario/Desktop/REPOS/TeamChallenger6/Base de Datos/Tejidos.db")
cursor = conexion.cursor()

In [5]:
# Creamos la tabla Proveedor
query = '''
CREATE TABLE Proveedor (
    ID_Proveedor INTEGER PRIMARY KEY,
    Nombre TEXT,
    Direccion TEXT,
    Ciudad TEXT,
    Provincia TEXT
)
'''
cursor.execute(query)

In [8]:
# Creamos la tabla Categoria
query = '''
CREATE TABLE Categoria (
    ID_Categoria INTEGER PRIMARY KEY,
    Nombre TEXT)
'''
cursor.execute(query)

In [10]:
# Creamos la tabla Producto
query = '''
CREATE TABLE Producto (
    ID_Producto INTEGER PRIMARY KEY,
    Nombre TEXT,
    Color TEXT,
    Precio REAL,
    ID_Categoria INTEGER,
    FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)
)
'''
cursor.execute(query)

In [11]:
# Creamos la tabla Pedido
query = '''
CREATE TABLE Pedido (
    ID_Pedido INTEGER PRIMARY KEY,
    Fecha_pedido DATE,
    Fecha_entrega DATE,
    ID_Proveedor INTEGER,
    FOREIGN KEY (ID_Proveedor) REFERENCES Proveedor(ID_Proveedor)
    )
'''
cursor.execute(query)

In [12]:
# Creamos la tabla LineaCesta
query = '''
CREATE TABLE LineaCesta (
    ID_LineaCesta INTEGER PRIMARY KEY,
    Cantidad INTEGER,
    Fecha_pedido DATE,
    Fecha_entrega DATE,
    ID_Producto INTEGER,
    ID_Pedido INTEGER,
    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)
    FOREIGN KEY (ID_Pedido) REFERENCES Pedido(ID_Pedido)
    )
'''
cursor.execute(query)

In [16]:
# Creamos la Catalogo
query = '''
CREATE TABLE Catalogo (
    ID_Producto INTEGER,
    ID_Proveedor INTEGER,
    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)
    FOREIGN KEY (ID_Proveedor) REFERENCES Pedido(ID_Proveedor)
    CONSTRAINT ID_Catalogo PRIMARY KEY (ID_Producto, ID_Proveedor)   
    )
'''
cursor.execute(query)

In [17]:
query = '''
SELECT * 
FROM sqlite_master
'''
res = cursor.execute(query)
res.fetchall()

[('table',
  'Proveedor',
  'Proveedor',
  2,
  'CREATE TABLE Proveedor (\n    ID_Proveedor INTEGER PRIMARY KEY,\n    Nombre TEXT,\n    Direccion TEXT,\n    Ciudad TEXT,\n    Provincia TEXT\n)'),
 ('table',
  'Categoria',
  'Categoria',
  3,
  'CREATE TABLE Categoria (\n    ID_Categoria INTEGER PRIMARY KEY,\n    Nombre TEXT)'),
 ('table',
  'Producto',
  'Producto',
  4,
  'CREATE TABLE Producto (\n    ID_Producto INTEGER PRIMARY KEY,\n    Nombre TEXT,\n    Color TEXT,\n    Precio REAL,\n    ID_Categoria INTEGER,\n    FOREIGN KEY (ID_Categoria) REFERENCES Categoria(ID_Categoria)\n)'),
 ('table',
  'Pedido',
  'Pedido',
  5,
  'CREATE TABLE Pedido (\n    ID_Pedido INTEGER PRIMARY KEY,\n    Fecha_pedido DATE,\n    Fecha_entrega DATE,\n    ID_Proveedor INTEGER,\n    FOREIGN KEY (ID_Proveedor) REFERENCES Proveedor(ID_Proveedor)\n    )'),
 ('table',
  'LineaCesta',
  'LineaCesta',
  6,
  'CREATE TABLE LineaCesta (\n    ID_LineaCesta INTEGER PRIMARY KEY,\n    Cantidad INTEGER,\n    Fecha_pedido DATE,\n    Fecha_entrega DATE,\n    ID_Producto INTEGER,\n    ID_Pedido INTEGER,\n    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)\n    FOREIGN KEY (ID_Pedido) REFERENCES Pedido(ID_Pedido)\n    )'),
 ('table',
  'Catalogo',
  'Catalogo',
  7,
  'CREATE TABLE Catalogo (\n    ID_Producto INTEGER,\n    ID_Proveedor INTEGER,\n    FOREIGN KEY (ID_Producto) REFERENCES Producto(ID_Producto)\n    FOREIGN KEY (ID_Proveedor) REFERENCES Pedido(ID_Proveedor)\n    CONSTRAINT ID_Catalogo PRIMARY KEY (ID_Producto, ID_Proveedor)   \n    )'),
 ('index', 'sqlite_autoindex_Catalogo_1', 'Catalogo', 8, None)]